@model Stud
<body style="background-image:url('@Url.Content("~/img/image.jpg")'); background-size: cover">
<link rel="stylesheet" href="~/css/style.css">
<form class="box" action="Add" method="post">
    <h2 style="color: white">Register</h2>
    <input type="text" placeholder="Name" asp-for="Name">
    <input type="text"  placeholder="Gmail" asp-for="Gmail">
    <button type="submit">Register</button>
</form>
</body>