@model List<Stud>

@foreach (var student in Model)
{
    <h1>Name : @student.Name</h1>
    <h1>Surname : @student.Surname</h1>
    <h1>Birth Day : @student.BirthData</h1>
    <h1>Gmail : @student.Gmail</h1>
    <a href="/student/update?id=@student.Id">Edit</a>  
    <hr/>
}