@model List<Stud>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var student in Model)
  {
    <tr>
      <th scope="row">@student.Id</th>
      <td>@student.Name</td>
      <td>@student.Gmail</td>
      <td>
        <a href="/student/update?id=@student.Id">Edit</a>
        <button onclick="Fun()"><a href="/student/delete?id=@student.Id" class="Button">Delete</a></button>
      </td>
    </tr>

  }

  </tbody>
</table>
<script>
      function Fun() {
        let confirmAction = confirm("Are you sure to execute this action?");
        if (confirmAction) {
          alert("Action successfully executed");
        } else {
          alert("Haha it was joke");
        }
      }
</script>