@model Stud
<form action="Add" method="post">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" placeholder="Name" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Surname"></label>
            <input type="text" class="form-control" placeholder="Enter Your Surname" asp-for="Surname">
            <span class="text-danger" asp-validation-for="Surname"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Gmail"></label>
            <input type="email" class="form-control" placeholder="Enter Your Gmail" asp-for="Gmail">
            <span class="text-danger" asp-validation-for="Gmail"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="BirthData"></label>
            <input type="date" class="form-control" placeholder="Enter Your Day of Birthday" asp-for="BirthData">
            <span class="text-danger" asp-validation-for="BirthData"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>