@model List<HelloWorld.Models.UserService.User>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var user in Model)
  {
    <tr>
      <th scope="row">@user.Id</th>
      <td>@user.Username</td>
      <td>@user.PhoneNumber</td>
      <td>@user.Password</td>
    </tr>

  }

  </tbody>
</table>